<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <div class="col-2">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
          MENU
      </button>
    </div>
   <div class="col-5 mx-auto">
        <a>
          <img src="assets/images/all-ways-caring-logo.png" class="img-fluid">
        </a>
   </div>
    <div class="col-3 ">
    <a class="navbar-brand " href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-3 float-end">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Adminstrator</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Change Password</a>
            <a href="#" class="dropdown-item">LogOut</a>
        </div>
    </div>
</div>
  </div>
  </div>
</nav>
<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Heading</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>Home</p>
    <p>Service</p>
    <p>Customer Care</p>
    <button class="btn btn-secondary" type="button">A Button</button>
  </div>
</div> -->





<!--
<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid rectangular">
    <div class="col-2">
      <a>
        <img src="assets/images/image.png" class="logo">
      </a>
    </div>
        <div class="navbar-nav">
          <a class="navactive" href="#">General Aettings</a>
         <div> <a class="nfade" href="#">User</a></div>
          <a class="nfade" href="#">Listing</a>
          <a class="nfade" href="#">Events</a>
          <a class="nfade" href="#">Reports</a>
          <a class="nfade" href="#">Displayed</a>
        </div>

    <div class="col-1 text-right">
      <div class="collapse navbar-collapse" id="navbar-list-4">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <p-avatar label="V" styleClass="mr-2 dropdownMenu" size="large"
                [style]="{'background-color':'black', 'color': '#ffffff'}" shape="circle">
              </p-avatar>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->



<div class="container-fluid rectangular p-0 m-0">
  <div class="row d-flex">
    <div class="col-2">
      <img src="assets\images\Redesign Logo white@3x.png" class="logo">
    </div>
    <div class="col-8 m-4">
      <a class="navactive" href="#">GeneralAettings</a>
      <a class="nfade" href="#">User</a>
      <a class="nfade" href="#">Listing</a>
      <a class="nfade" href="#">Events</a>
      <a class="nfade" href="#">Reports</a>
      <a class="nfade" href="#">Displayed</a>
    </div>
     <div class="Ellipse-59 col-1">
      <p-avatar label="V" styleClass="mr-2" size="large" [style]="{'background-color':'#31567f', 'color': '#ffffff'}" shape="circle"></p-avatar>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
    </div>
  </div>


<div class="Admin_General-Settings_Scheduler_Year">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " data-bs-toggle="tab" href="#home">
      <span class="General-Settings">
        General Settings
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#profile">
      <span class="Scheduler">
        Scheduler
      </span>
    </a>
  </li>
</ul>
<app-footer></app-footer>
</div>
