<div class="container-fluid  Rectangle-552 ">
  <div class="tab-content">
    <div class="container-fluid  tab-pane" id="home">
      <h1>Home</h1>
    </div>
    <div class="container-fluid  tab-pane Active" id="profile">
      <div class="d-flex justify-content-center">
        <ul class="no-bullets">
          <li class=""> <img src="assets\images\add-black-18dp.png" class="add-black-18dp"></li>
          <li>
            <span class="Create">
              Create
            </span>
          </li>
          <li>
            <span class="Delete m-2">
              <i class="pi pi-trash"></i>
              Delete
            </span>
          </li>
        </ul>
      </div>
      <div class="row d-flex ">
        <div class="col-lg-6  ">
          <div class="table-responsive  mt-3 w-100">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th class=" border-right sticky-top thead-tr">Name</th>
                  <th class=" border-right sticky-top thead-tr">Description</th>
                  <th class=" border-right sticky-top thead-tr">First Execution </th>
                  <th class=" border-right sticky-top thead-tr">Last Execution</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule1
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td>
                    <i class="pi pi-check-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule2
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule3
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule4
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td>
                    <i class="pi pi-check-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule5
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td>
                    <i class="pi pi-check-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule6
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule7
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td>
                    <i class="pi pi-check-circle"></i>
                  </td>
                </tr>
                <tr>
                  <td class="border-right AvenirLTStd-Medium">
                    Schedule8
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    Description
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td class="border-right AvenirLTStd-Medium">
                    6/11/2022
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6  Rectangle-665">
          <div class="card-body">
            <div>
              <h4 class="card-title Schedule-Information">Schedule Information</h4>
            </div>
            <div class="Rectangle-666"></div>
            <div class="m-1 mt-4">
              <span class="p-float-label">
                <input type="text" id="inputtext" class="Rectangle-667" pInputText>
                <label for="inputtext">InputText</label>
              </span>
            </div>
            <div class="m-1 mt-4">
              <span class="p-float-label">
                <textarea type="textarea" id="textarea" rows="3" class="Rectangle-670" pInputTextarea
                  style="resize: none;width: 100%;" cols="30"></textarea>
                <label for="textarea">Textarea</label>
              </span>
            </div>
            <div class="m-1 mt-3">
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" styleClass="Rectangle-669"
                  optionLabel="name"></p-dropdown>
                <label for="dropdown">Dropdown</label>
              </span>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title Schedule-Information">Schedule Mode</h4>
            <button type="button" class=" Rectangle-699"> <span class="Yearly">
                Yearly </span></button>
            <button type="button" class="Rectangle-700"> <span class="Monthly"> Monthly</span></button>
            <button type="button" class="Rectangle-701"> <span class="Weekly"> Weekly</span></button>
            <button type="button" class="Rectangle-702"> <span class="Daily"> Daily</span></button>
            <button type="button" class="Rectangle-703"> <span class="Once"> Once</span></button>
          </div>
          <div class="card-body">
            <h4 class="card-title Schedule-Information">Start Time</h4>
            <div class="Rectangle-666"></div>
            <input type="text" class="Rectangle-704" />
            <div class="borders">
              <div class="row d-flex">
                <div class="col-1 m-1 d-flex">
                  <span class="Every">
                    Every
                  </span>
                </div>
                <div class="col-10">
                  <button type="button" class="Rectangle-706" data-mdb-color="dark"><span class="st">
                      1st
                    </span></button>
                  <button type="button" class="Rectangle-706" data-mdb-color="dark"><span class="st">
                      2nd
                    </span></button>
                  <button type="button" class="Rectangle-706" data-mdb-color="dark"><span class="st">
                      3rd
                    </span></button>
                  <button type="button" class="Rectangle-709" data-mdb-color="dark"><span class="th">
                      4th
                    </span></button>
                </div>
                <div class="row  d-flex">
                  <div class="col-1  d-flex">
                    <span class="day">
                      Day
                    </span>
                  </div>
                  <div class="col-11 d-flex">
                    <button type="button" class="Rectangle-1" data-mdb-color="dark"><span class="st">
                        MON
                      </span></button>
                    <button type="button" class="Rectangle-2" data-mdb-color="dark"><span class="st">
                        TUE
                      </span></button>
                    <button type="button" class="Rectangle-3" data-mdb-color="dark"><span class="st">
                        WED
                      </span></button>
                    <button type="button" class="Rectangle-4" data-mdb-color="dark"><span class="th">
                        THU
                      </span></button>
                    <button type="button" class="Rectangle-5" data-mdb-color="dark"><span class="st">
                        FRI
                      </span></button>
                    <button type="button" class="Rectangle-6" data-mdb-color="dark"><span class="st">
                        SAT
                      </span></button>
                    <button type="button" class="Rectangle-7" data-mdb-color="dark"><span class="st">
                        SUN
                      </span></button>
                  </div>

                  <span class="Month-">
                    Month
                  </span>
                  <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" styleClass="Rectangle"
                    optionLabel="name"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="d-flex mt-2">
              <div class="col-2 mt-3">
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">Active</label>
              </div>
              <div class="col-10 d-flex justify-content-end">
                <button type="button" class="Rectangle-674" data-mdb-color="dark"><span class="Save">
                    Save
                  </span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
